@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Inknut+Antiqua:wght@400;700&family=Irish+Grover&family=JetBrains+Mono:wght@500&family=Kameron:wght@400;700&family=Montserrat:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #CB9188;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 122px;
}
ul{
    display: flex;
    list-style: none;
    width: 723px;
    justify-content: space-between;
}
ul li a{
    text-decoration: none;
    color: #7E0605;
    font-family: Holtwood One SC;
    font-size: 24px;
    font-weight: bold;
}
.fa-google-play{
    color: green ;
    font-size: 30px;
}
ul li a:hover{
    color: blue;
    transition: 0.5s;
}
.small,.big{
    color: #FFF;
    text-align: center;
    font-family: Holtwood One SC;
    font-size: 48px;
    font-weight: 900;
}
.big{
    font-size: 64px;
}
.big span{
    color: #F82A2A;
}
.home{
    background: linear-gradient(rgba(96, 0, 0, 0.30),rgba(96, 0, 0, 0.30)),url("./images/image\ 3.png") no-repeat;
    min-height: 721px;
    padding-top: 44px;
    background-size: cover;
}
.home p{
    color: #F5F5F5;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    padding-top: 399px;
}
footer{
    background-color: #CB9188;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 47px 122px;
}
.info{
    font-family: Montserrat;
    font-size: 24px;
    line-height: 40px;
}
.info p{
    color: black;
    font-weight: 500;
}
.info span{
    color: #7E0605;
    font-weight: 700;
    margin-right: 5px;
}
.fa-tiktok{
    color: black;
    font-size: 50px;
    margin-right: 30px;
}
.fa-instagram{
    font-size: 55px;
    color: crimson;
}
.buyBtn a{
    color: #1A7A35;
    text-align: center;
    font-family: Monomaniac One;
    font-size: 48px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 50px;
    background: #CBB14B;
    padding: 10px 100px;
}
.buyBtn a:hover{
    background-color: red;
    transition: 1s;
}
.animatronics{
    background: linear-gradient(rgba(0, 0, 0, 0.49),rgba(0, 0, 0, 0.49)),url("./images/image\ 4.png") no-repeat;
    min-height: 722px;
    background-position: center center;
    position: relative;
}
.golden{
    color: #8C811F;
text-align: center;
font-family: Irish Grover;
font-size: 48px;
font-weight: 400;
line-height: 58px;
position: absolute;
top: 180px;
left: 70px;
}
.bonnie{
    color: #191E50;
text-align: center;
font-family: Irish Grover;
font-size: 48px;
font-weight: 400;
line-height: 58px;
position: absolute;
top: 37px;
left: 240px;
}
.freddy{
    color: #200;
text-align: center;
font-family: Irish Grover;
font-size: 48px;
font-weight: 400;
line-height: 58px;
position: absolute;
left: 545px;
}
.foxy{
    color: #E80000;
text-align: center;
font-family: Irish Grover;
font-size: 48px;
font-weight: 400;
line-height: 58px;
position: absolute;
left: 900px;
}
.chica{
    color: #818400;
text-align: center;
font-family: Irish Grover;
font-size: 48px;
font-weight: 400;
line-height: 58px;
position: absolute;
top: 39px;
right: 1px;
}
.animatronics p{
    color: #CBB14B;
    font-family: Inknut Antiqua;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    padding-top: 550px;
    text-align: center;
}
.box{
    border:5px solid #000;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 60px ;
    width: 80%;
    margin-bottom: 72px;
}
.box div p{
    width: 500px;
    color: #000;
text-align: justify;
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 40px;
margin-right: 20px;
}
.box div h2{
    color: #553527;
font-family: Irish Grover;
font-size: 96px;
font-weight: 400;
line-height: 40px;
margin-bottom: 30px;
text-align: center;
}
.red{
    background-color: rgba(254, 20, 0, 0.29);
}
.blue{
   background-color: rgba(18, 70, 149, 0.56);
}
.blue div h2{
    color: #DB3C20;
    margin-top: 60px;
}
.grey div h2{
    color: #C8B93C;
    line-height: 90px;
}
.grey{
    background-color: rgba(25, 30, 80, 0.45);
}
.grey div img{
    margin-top: 70px;
}
.theories{
    background: #D9D9D9;
    padding: 70px 0;
}